<div class="home__banner__video">
  <div class="ratio ratio-16x9">
    <iframe
      src="https://www.youtube.com/embed/xQueSttDwG8?si=ngaWhQG5CEwROyNO"
      title="YouTube video"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div class="home__banner__text">
  <h1>Excelência em Aprendizado com o Portal de Treinamento Ergon Sistema</h1>
  <p>
    Explore a excelência em treinamento com o Portal de Treinamento da Ergon
    Sistema. Oferecemos cursos abrangentes e especializados para que você
    aprimore suas habilidades e aproveite ao máximo nossas soluções. Nossa
    plataforma é o seu caminho para se tornar um especialista em nossos sistemas
    e ferramentas.
  </p>
  <p class="home__banner__certificate">
    Certificado
    <span class="home__banner__certificate__grayscale">grátis</span>
    após a conclusão do curso
  </p>
</div>
